{% if ansible_distribution_major_version == '11' %}
{% set release = "bullseye" %}
{% elif ansible_distribution_major_version == '10' %}
{% set release = "buster" %}
{% endif %}
deb http://repo.mysql.com/apt/debian/ {{ release }} mysql-8.0

